body{
    background: #81C9C8;
    max-width: 400px;
    margin: auto;
}

#title{
    color: white;
    font-size: 56px;
}

#input {
    width: 200px;
}

span{
    font-size: 18px;
    color: white;
    padding: 3px;
    box-sizing: border-box;
    padding:0.2em 1.2em;
    margin:0 0.3em 0.3em 0;
}

li{
    list-style: none;
}

.buttons, .delete{
    display:inline-block;
    padding:0.2em 1.2em;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
}

.buttons:hover, .delete :hover{
    background-color:#4095c6;
}
